<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ruby Twitter Clone</title>
</head>
<body>

  <ul>
    <% @tweets.each do |tweet| %>
    <li class="tweet">
      <p><%= tweet.tweet %></p>
      <form action="/tweets/<%= tweet.id %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
      </form>
      <form action="/tweets/<%= tweet.id %>/edit" method="get">
        <input type="submit" value="Edit">
      </form>
      <form action="/tweets/<%= tweet.id %>/comments/new" method="get">
        <input type="submit" value="Add Comment">
      </form>
      <ul>
        <% tweet.comments.each do |comment| %>
          <li><%= p comment %></li>
        <% end %>
      </ul>
    </li>
    <% end %>
  </ul>

  <a href="/tweet/new">Create Tweet</a>
  
</body>
</html>